*{
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
ol {
    margin: 0px;
    padding: 0px;
}

img {
 width: 100%;
}

a {
 text-decoration: none !important;
}

.img1{
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    height: 650px;
    width: 100%;
    position: relative;
}

.text{
    position: absolute;
    top: 20px;
    left: 500px;
    color: rgb(19, 102, 227);    
}

.heading{
    position: absolute;
    top: 600px;
}

.container .text1{
    background-color: rgb(55, 99, 160);
    text-align: center;
    padding: 15px;
    border-radius: 40px 0px;
    color: white;
    font-size: 60px;
    margin: 0px 250px;
    font-weight: bolder;
}
.container .text2{
    background-color: rgb(85, 182, 182);
    text-transform: uppercase;
    text-align: center;
    color: white;
    margin: 0px 300px;
    font-size: 30px;
}

.container .heading1{
    margin-top: 150px;
}

.container .aboutus{
    color: rgb(14, 147, 209);
    font-size: 20px;
}

.container .pg1{
    color: rgb(60, 193, 242);
    border-bottom: 1px solid rgb(168, 168, 168);
    padding-bottom: 10px;
    padding-right: 30px;
}

.container .pg2{
    color: rgb(5, 107, 185);
    font-size: 30px;
    line-height: 0.5;
}

.symbol{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    text-align: center;
}

.pg3{
    color: rgb(77, 157, 219);
    line-height: 0.5;
    margin-top: 15px;
}

.pg4{
    border-bottom: 1px solid rgb(168, 168, 168);
    padding-bottom: 10px;
}

.personal_details{
    color: rgb(77, 157, 219);
    line-height: 0.5;
    padding-left: 30px;
}

.img5{
    width:250px;
    height: 155px;
    margin-top: 150px;   
}

.us{
    font-size: 35px;
}

.our_services{
    background-color:  rgb(55, 99, 160);
    color: white;
    border-top-left-radius: 20px;
    font-size: 25px;
    padding: 15px 20px 15px 0px;
    text-align: right;
    margin-bottom: 0px;
}

.lorem{
    width:100%;
    background-color: rgb(85, 182, 182);
    text-align: end;
    padding: 15px 20px 15px 0px;
    color: white;
}

.lorem p{
    padding-left: 85px;
}